/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'BitruePro', Arial, sans-serif;
    color: #232832;
    background-color: #ffffff;
    line-height: 1.5;
}

a {
    color: #1155cc;
    text-decoration: none;
}

a:hover {
    color: #EBB432;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #232832;
}

h1 {
    font-size: 28px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (max-width: 1023.95px) {
    h1 {
        -webkit-line-clamp: 4;
    }
}

h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

h3 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 8px;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: #373C46;
    margin: 16px 0;
}

ul, ol {
    margin-bottom: 24px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #373C46;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

/* Specific Component Styles */

#page-common-header {
    height: 54px;
    background: #090C10;
}

.bit-ui-cmbq0e {
    padding: 40px 24px;
}

.bit-ui-194k3rb {
    max-width: 1200px;
    margin: auto;
}

.bit-ui-3fplsz {
    margin-bottom: 40px;
}

.bit-ui-3fplsz ol {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.bit-ui-3fplsz ol li {
    flex-shrink: 0;
    line-height: 0;
}

.bit-ui-3fplsz ol li:last-of-type a {
    font-size: 16px;
    font-weight: 500;
    color: #191E28;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.bit-ui-3fplsz a {
    font-size: 16px;
    font-weight: 500;
    color: #828C9B;
    line-height: 20px;
}

.bit-ui-tudh2t {
    margin-top: 40px;
    border-radius: 8px;
    overflow: hidden;
}

.bit-ui-17dns5q {
    width: calc(100% - 460px);
}

@media (max-width: 1023.95px) {
    .bit-ui-17dns5q {
        width: 100%;
    }
}

.bit-ui-16bqh8c {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.bit-ui-16bqh8c a {
    padding: 8px 24px;
    border-radius: 20px;
    background: #EBEDEF;
    font-size: 12px;
    font-weight: 400;
    color: #828C9B;
    cursor: pointer;
}

.bit-ui-16bqh8c a:hover {
    background: rgba(213, 161, 40, 0.3);
    color: #D5A128;
}

.bit-ui-11x9uay {
    margin-top: 40px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #B0B9C3;
}

.register_registerBanner__B7M6N {
    display: flex;
    align-items: center;
    margin: 40px 0 0;
}

.register_bannerTitle__Rc6GC {
    font-size: 24px;
    font-weight: 700;
    color: #232832;
}

.register_bannerDesc__oR_mz {
    font-size: 14px;
    color: #828C9B;
}

.register_registerBtn__iVSxn {
    display: inline-block;
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #D5A128;
    color: #ffffff;
    font-weight: 600;
    border-radius: 24px;
    cursor: pointer;
}

.bit-ui-1upv3zy {
    margin-top: 40px;
}

.bit-ui-1upv3zy p {
    margin-bottom: 24px;
}

.bit-ui-1upv3zy img {
    margin-bottom: 24px;
}

.bit-ui-x7csu8 {
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
}

.bit-ui-x7csu8 img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
}

.bit-ui-2inxra {
    background: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    display: block;
    padding: 24px;
}

.bit-ui-2inxra:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
}

.bit-ui-slbn54 {
    font-family: BitruePro;
    color: #232832;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.bit-ui-6phrz1 {
    font-family: BitruePro;
    color: #828C9B;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: 16px;
}

.bit-ui-c1nyfk {
    color: #B0B9C3;
    font-size: 14px;
    line-height: 18px;
}

.bit-ui-1sjikpi {
    height: 170px;
    margin-top: 24px;
    position: relative;
}

.bit-ui-1sjikpi span {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bit-ui-1pnnld8 {
    opacity: 0;
    align-items: center;
    font-family: BitruePro;
    color: #232832;
    font-size: 14px;
    line-height: 18px;
}

.bit-ui-1pnnld8 i {
    font-size: 12px;
    transform: rotate(-90deg);
    margin-top: -3px;
}

/* Additional Styles */
.wysiwyg-text-align-justify {
    text-align: justify;
}

.wysiwyg-underline {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    #page-common-header {
        height: 54px;
        background: #090C10;
    }
}